In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('COVID_data/04-27-2020.csv')

In [3]:
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-28 02:30:51,34.223334,-82.461707,29,0,0,29,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-28 02:30:51,30.295065,-92.414197,130,9,0,121,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-28 02:30:51,37.767072,-75.632346,195,3,0,192,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-28 02:30:51,43.452658,-116.241552,650,15,0,635,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-28 02:30:51,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"

In [4]:
df.tail()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
3147,NaN,NaN,Queensland,Australia,2020-04-28 02:31:20,-27.4698,153.0251,1033,6,926,101,"Queensland, Australia"
3148,NaN,NaN,South Australia,Australia,2020-04-28 02:31:20,-34.9285,138.6007,438,4,414,20,"South Australia, Australia"
3149,NaN,NaN,Tasmania,Australia,2020-04-28 02:31:20,-42.8821,147.3272,214,11,132,71,"Tasmania, Australia"
3150,NaN,NaN,Victoria,Australia,2020-04-28 02:31:20,-37.8136,144.9631,1349,17,1280,52,"Victoria, Australia"
3151,NaN,NaN,Western Australia,Australia,2020-04-28 02:31:20,-31.9505,115.8605,549,8,486,55,"Western Australia, Australia"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3152 entries, 0 to 3151
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FIPS            2878 non-null   float64
 1   Admin2          2882 non-null   object
 2   Province_State  2971 non-null   object
 3   Country_Region  3152 non-null   object
 4   Last_Update     3152 non-null   object
 5   Lat             3085 non-null   float64
 6   Long_           3085 non-null   float64
 7   Confirmed       3152 non-null   int64
 8   Deaths          3152 non-null   int64
 9   Recovered       3152 non-null   int64
 10  Active          3152 non-null   int64
 11  Combined_Key    3152 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 295.6+ KB

In [6]:
df['Province_State'].value_counts()

Texas              208
Georgia            159
Virginia           134
Kentucky           111
Missouri           100
                  ...
Bermuda              1
South Australia      1
Macau                1
Puerto Rico          1
Chongqing            1
Name: Province_State, Length: 137, dtype: int64

In [7]:
df_us = df[df['Country_Region'] == 'US']

In [8]:
df_us.head(10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-28 02:30:51,34.223334,-82.461707,29,0,0,29,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-28 02:30:51,30.295065,-92.414197,130,9,0,121,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-28 02:30:51,37.767072,-75.632346,195,3,0,192,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-28 02:30:51,43.452658,-116.241552,650,15,0,635,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-28 02:30:51,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"
5,21001.0,Adair,Kentucky,US,2020-04-28 02:30:51,37.104598,-85.281297,77,9,0,68,"Adair, Kentucky, US"
6,29001.0,Adair,Missouri,US,2020-04-28 02:30:51,40.190586,-92.600782,12,0,0,12,"Adair, Missouri, US"
7,40001.0,Adair,Oklahoma,US,2020-04-28 02:30:51,35.884942,-94.658593,55,3,0,52,"Adair, Oklahoma, US"
8,8001.0,Adams,Colorado,US,2020-04-28 02:30:51,39.874321,-104.336258,1391,60,0,1331,"Adams, Colorado, US"
9,16003.0,Adams,Idaho,US,2020-04-28 02:30:51,44.893336,-116.454525,3,0,0,3,"Adams, Idaho, US"

In [9]:
df_us.tail(10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
2879,8125.0,Yuma,Colorado,US,2020-04-28 02:30:51,40.003468,-102.425867,6,0,0,6,"Yuma, Colorado, US"
2880,48505.0,Zapata,Texas,US,2020-04-28 02:30:51,27.001564,-99.169872,7,0,0,7,"Zapata, Texas, US"
2881,48507.0,Zavala,Texas,US,2020-04-28 02:30:51,28.866172,-99.760508,1,0,0,1,"Zavala, Texas, US"
2896,88888.0,NaN,Diamond Princess,US,2020-04-28 02:30:51,NaN,NaN,49,0,0,49,"Diamond Princess, US"
2905,99999.0,NaN,Grand Princess,US,2020-04-28 02:30:51,NaN,NaN,103,3,0,100,"Grand Princess, US"
2908,66.0,NaN,Guam,US,2020-04-28 02:30:51,13.444300,144.793700,141,5,0,136,"Guam, US"
2934,69.0,NaN,Northern Mariana Islands,US,2020-04-28 02:30:51,15.097900,145.673900,14,2,0,12,"Northern Mariana Islands, US"
2939,72.0,NaN,Puerto Rico,US,2020-04-28 02:30:51,18.220800,-66.590100,1389,84,0,1305,"Puerto Rico, US"
2943,NaN,NaN,Recovered,US,2020-04-28 02:30:51,NaN,NaN,0,0,111424,-111424,"Recovered, US"
2958,78.0,NaN,Virgin Islands,US,2020-04-28 02:30:51,18.335800,-64.896300,57,4,0,53,"Virgin Islands, US"